{% extends 'headerfooterFRONTACCEUIL2.html.twig' %}
{% block content %}

    <!-- slider Area End-->
    {% for r in resto %}
        <!-- Favourite Places Start -->
        <div class="favourite-place place-padding">
            <div class="container">
                <!-- Section Tittle -->

                <div class="row">



                    <div class="col-xl-4 col-lg-4 col-md-6">

                        <div class="single-place mb-30">

                            <div class="place-img">
                                <img src="{{ asset('images/resto/') }}{{ r.restopic }}" height="300" width="300">
                            </div>
                            <div class="place-cap">
                                <div class="place-cap-top">
                                    <span><i class="fas fa-star"></i><span>8.0 Superb</span> </span>
                                    <h3><a href="#">  {{ r.nomresto }}</a></h3>
                                    <p class="dolor">{{ r.specialite.NomCategorie  }} </p>
                                </div>
                                <div class="place-cap-bottom">
                                    <ul>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ r.budget }}</li>
                                        <li><a class="btn btn-dark" href="{{ path('add_reservationResto',{'idResto':r.idResto}) }}">reservation</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>





                </div>
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(resto) }}
    </div>





    <div class="button_cont"><a class="example_b" href="{{ path('frontacceuil') }}" >retour</a></div>


    <!--===============================================================================================-->
    <script src="{{ asset('acss/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/vendor/bootstrap/js/popper.js') }}"></script>
    <script src="{{ asset('acss/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/vendor/select2/select2.min.js') }}"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('acss/js/main.js') }}"></script>


    <script src="{{ asset('JS/jquery.js') }}"></script>




{% endblock content %}
